<div class="news-carousel">
    {% assign posts = site.posts | where: "lang", page.lang | sort: "date" | reverse | limit: 5 %}
    {% for post in posts %}
      <div class="news-item">
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
        <div class="news-item-content">
          <h3>{{ post.title }}</h3>
          <p>{{ post.date | date: "%Y-%m-%d" }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ site.data.translations[page.lang].read_more }}</a>
        </div>
      </div>
    {% endfor %}
  </div>