:root {
  --primary-color: #e30613;
  --primary-color-rgb: 227, 6, 19;
  --secondary-color: #333333;
  --light-gray: #f8f9fa;
  --white: #ffffff;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--secondary-color);
  padding-top: 80px; /* Adjust this value to match your header height exactly */
  margin: 0; /* Remove default margin */
}

.container {
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Header Styles */
.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 1000;
  background-color: white; /* Set navbar background to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link {
  color: var(--secondary-color); /* Set navbar text color to black */
}

.red-divider-header {
  height: 3px;
  background-color: var(--primary-color);
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 10px; /* Adjust as needed */
}

/* Latest News Carousel Styles */
#latestNewsCarousel .slick-slide {
  padding: 0 15px; /* Add space around each card */
}

#latestNewsCarousel .card {
  text-align: center; /* Center-align the elements in the carousel */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the card takes full height */
}

#latestNewsCarousel .card-title,
#latestNewsCarousel .card-text {
  text-align: center; /* Center-align the title and text */
}

#latestNewsCarousel .btn-primary {
  background-color: var(--primary-color); /* Change button background color to red */
  border-color: var(--primary-color);
  font-size: 0.875rem; /* Reduce the size of the button */
  padding: 0.5rem 1rem; /* Adjust padding for smaller button */
  width: auto; /* Ensure the button width is auto */
  align-self: center; /* Center-align the button */
  margin-top: auto; /* Push the button to the bottom */
}

