// Main styles
body {
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  // Variables
  $primary-color: #e6001f;
  $secondary-color: #ffffff;
  
  // Mixins
  @mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
    transition: $property $duration $timing;
  }
  
  // Placeholder styles
  %card-hover {
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }