<footer class="py-4" style="background-color: var(--white); color: var(--secondary-color); position: relative;">
    <div class="red-divider-footer"></div>
<div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ "privacy-policy" | relLangURL }}" class="text-dark">{{ i18n "privacyPolicy" }}</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{{ "cookie-policy" | relLangURL }}" class="text-dark">{{ i18n "cookiePolicy" }}</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{{ "terms-and-conditions" | relLangURL }}" class="text-dark">{{ i18n "termsAndConditions" }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><img src="{{ "images/facebook-dark.png" | relURL }}" alt="Facebook" class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><img src="{{ "images/twitter-dark.png" | relURL }}" alt="Twitter" class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><img src="{{ "images/instagram-dark.png" | relURL }}" alt="Instagram" class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com" target="_blank"><img src="{{ "images/linkedin-dark.png" | relURL }}" alt="LinkedIn" class="img-fluid"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>