<div class="container"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/for-patients.jpg" | relURL }}" class="card-img-top" alt="For Patients and the Public">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "forPatientsAndPublic" }}</h5>
                    <p class="card-text">{{ i18n "forPatientsAndPublicDesc" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/for-researchers.jpg" | relURL }}" class="card-img-top" alt="For Researchers and Biotechs">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "forResearchersAndBiotechs" }}</h5>
                    <p class="card-text">{{ i18n "forResearchersAndBiotechsDesc" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/for-schools.jpg" | relURL }}" class="card-img-top" alt="For Schools and Colleges">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "forSchoolsAndColleges" }}</h5>
                    <p class="card-text">{{ i18n "forSchoolsAndCollegesDesc" }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/for-health-professionals.jpg" | relURL }}" class="card-img-top" alt="For Health Professionals">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "forHealthProfessionals" }}</h5>
                    <p class="card-text">{{ i18n "forHealthProfessionalsDesc" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/rare-disease-research.jpg" | relURL }}" class="card-img-top" alt="Rare Disease Research">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "rareDiseasesResearch" }}</h5>
                    <p class="card-text">{{ i18n "rareDiseasesResearchDesc" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{ "images/events-calendar.jpg" | relURL }}" class="card-img-top" alt="Events Calendar">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "eventsCalendar" }}</h5>
                    <p class="card-text">{{ i18n "eventsCalendarDesc" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>