<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>{{ i18n "followUs" }}</h3>
            <div class="social-icons">
                <a href="https://twitter.com/WalesGenePark" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://www.linkedin.com/company/wales-gene-park-parc-geneteg-cymru" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>